* {
    box-sizing: border-box;
}

.main-header-container {
    display: flex;
    justify-content: space-around;
    background-color: aquamarine;
    align-items: center;

}

.main-header-container .logo {
    margin: 0;
}

.location-container {
    display: flex;
    align-items: center;
}